body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: right;
    /* list-style: none; */
}
header nav .nav-right-section
{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 10px;
    color: #000000;
/*     text-decoration: none;
 */}

 nav .nav-right-section .menu-icon{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAHlBMVEUAAAD///8GBgZaWlrS0tIXFxempqYZGRmoqKjU1NTeQkySAAAA5klEQVR4nO3ZwQ6CMAwG4I6h6Pu/sGDiZWMQk4Vx+Hpt03xED2v+SGnOj9itJc9pp/rOR3pO++2tpme9r/N8zAf9daL6pt7zkY/6Eblc2Hs+Gr/Pr5ZyYe/54/Za5cLe8wAAAAAAAAAAAADjAcOf5cMPk5PT6V0u7D1/cpy+yn0nx+b/87Gdz437aMnV93y/qet89a+9ugAAAAAAAADuAJAXtPvygpAXAAAAAAAAAAAAAFwBGP4sH36YyAvkBQAAAAAAAAA3AMgL2n15QcgLAAAAAAAAAAAAAK4ADH+WDz9M5AWj84IPlCwh+2ChZ/4AAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
 }
 nav .nav-right-section img{
     border-radius: 50%;
     margin-left: 10px;
 }

 main{
     margin-top: 150px;
     text-align: center;
 }
 main .main-logo{
     width: 530px;
     margin: 0 auto;
     margin-bottom: 35px;
 }

 main .main-logo img{
     width:  300px;
     /* height: 150px; */
 }

 main .main-input{
     width: 530px;
     margin: 0 auto;
     margin-bottom: 35px;
 }

 main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 main .main-input input{
     width: 450px;
     height: 40px;
     border: none;
     outline: none;
 }
 main .main-input-container:hover{
     box-shadow: 0 1px 6px 0 #20212447;
     border-color: #dfe1e500;
 }

 main .main-input .search-icon{
     background-image: url('https://www.pinclipart.com/picdir/middle/133-1330673_free-navy-google-web-search-icon-transparent-background.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     width: 18px;
     height: 18px;
 }

 main .main-input .micro-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
 }

 main .main-buttons{
     width: 530px;
     margin: 0 auto;
 }

 main .main-buttons div{
     display: inline-block;
 }
main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding-left: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #000000;
}


footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-content: left;
}

footer .footer-right{
    justify-content: right;
}

footer  ul li a {
    margin: 10px;
    columns: #5f6368;
}

/* 
footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: #f2f2f2;
    justify-content: space-between;
    position: absolute;
    bottom: 0;

}

footer .footer-left{
    list-style: none;
    display: flex;
}

footer .footer-right{
    list-style: none;
    display: flex;
}
footer a{
    text-decoration: none;
    margin: 0  10px;
    color: #5f6368;
} */